.noise::after {
  content: "";
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.2;
  background: url(../../public/noise.svg);
  width: 100%;
  height: 100%;
}

.view-margin {
  margin-top: 78px;
}